body {
    background-color: #f8f9fa;
    color: #212529;
    transition: all 0.3s ease-in-out;
}

body.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
}

.btn-toggle {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}
